body {
    font-size: 18px;
    background-color: #DCE2EF;
}

.contact-container, .search-container {
    position: relative;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 1px solid #EDF1FD;
    border-radius: 5px;
}

.contact-container {
    width: 60%;
}

.search-container {
    width: 38%;
}

.contact-info {
    width: 50%;
    margin: 0 5% 5% 5%;
}

.search-info {
    width: 80%;
    margin: 0 5% 5% 5%;
}

.contact-info > label {
    margin: 5px 0;
    display: block;
}

input[type="text"], input[type="file"], textarea {
    float: right;
    width: 180px;
}

.select-field {
    float: right;
    width: 184px;
}

#contact-search .select-field {
    width: 180px;
}

#save-contact-button, #search-contact-button {
    margin: 0 1% 2% 5%;
}

#contact-search a {
    text-decoration: none;
    color: inherit;
}

.contact-photo {
    width: 220px;
    height: 220px;
}

.contact-photo-image {
    cursor: pointer;
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
}

.birth-date {
    display: inline-block;
    float: right;
    margin-left: 10px;
}

#year {
    width: 55px;
}

#day, #month {
    width: 50px;
}