.contact-container {
    margin-left: 10px;
    margin-bottom: 20px;
}

.contact-info {
    width: 25%;
}

.contact-info > label {
    margin: 5px 0;
    display: block;
}

input[type="text"], input[type="file"], textarea {
    float: right;
    width: 180px;
}

.select-field {
    float: right;
    width: 184px;
}

.popup-window {
    position: fixed;
    display: none;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.05);
}

.popup-content {
    position: relative;
    margin: 13% auto;
    width: 400px;
    background-color: #C9C9C9;
    border: 2px solid #D2D1D1;
    border-radius: 15px;
    padding: 10px 20px 10px 10px;
}

#attachment-popup .popup-content {
    width: 500px;
}

#attachment-popup textarea, #attachment-popup input {
    width: 300px;
}

#photo-popup .popup-content {
    width: 300px;
    height: 110px;
    padding: 10px;
}

#photo-popup input {
    width: 270px;
}

.popup-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.popup-window label {
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
}

.popup-buttons {
    margin-top: 80px;
    content: "";
    clear: both;
    text-align: center;
}

.popup-button, #save-contact-button {
    width: 120px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-color: #EEECEC;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.popup-button:hover, #save-contact-button:hover {
    background-color: #BDC0FA;
}

#save-contact-button {
    margin: 20px 20px 10px 0;
}

.contact-photo {
    cursor: pointer;
    width: 200px;
    height: 200px;
    margin: 10px;
    background: url('../icons/default_contact_icon.jpeg');
    background-size: 200px 200px;
}

#photo-popup .popup-buttons {
    margin-top: 50px;
}