body {
    font-size: 18px;
}

ul {
    display: inline;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
    padding: 2px;
    display: inline;
    margin-right: 5px;
    background-color: #E5E5E6;
    border: 1px solid #DDDDDF;
    border-radius: 5px;
}

.email-container {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 20px;
}

.email-info {
    width: 40%;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

#email-text, #email-subject, #email-template {
    display: block;
    width: 90%;
    float: none;
    margin-top: 5px;
    margin-bottom: 10px;
}

#send-email-button {
    margin: 20px 20px 10px 0;
}