.nav-buttons {
    display: inline-block;
    float: right;
}

.nav-button {
    display: inline-block;
    margin-left: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.add {
    background: url('../icons/add.png');
}

.delete {
    background: url('../icons/delete.png');
}

.edit {
    background: url('../icons/edit.png');
}

.search {
    background: url('../icons/search.png');
}

.mail {
    background: url('../icons/mail.png');
}

.download {
    margin: 0;
    background: url('../icons/download.png');
}