body {
    font-size: 18px;
}

ul {
    display: inline;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
    padding: 2px;
    display: inline;
    margin-right: 5px;
    background-color: #E5E5E6;
    border: 1px solid #DDDDDF;
    border-radius: 5px;
}

.email-container {
    width: 40%;
    position: relative;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 1px solid #EDF1FD;
    border-radius: 5px;
}

.email-info {
    margin: 5% 5% 0 5%;
}

label {
    display: block;
    margin-top: 10px;
}

#email-text, #email-subject, #email-template {
    display: block;
    width: 100%;
    float: none;
    margin-top: 5px;
    margin-bottom: 10px;
}

#send-email-button {
    margin: 2% 2% 1% 0;
}