html, body {
	min-height: 100%;
}

body {
	font-size: 18px;
	background-color: #DCE2EF;
}

a {
	text-decoration: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-align: left;
}

tbody tr:hover {
	background-color: #C6D2F1;
}

td, th {
	font-size: 16px;
	padding: 10px;
	border: 2px solid #B8B9B6;
}

td {
	word-break: break-all;
}

td:first-child {
	text-align: center;
}

caption {
	text-align: left;
}

.contact-list-container {
	width: 70%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	background-color: #FFFFFF;
	border: 1px solid #EDF1FD;
	border-radius: 5px;
}

.contact-list {
	width: 95%;
	margin: 1% auto;
}

.column-1 {
	width: 4%;
}

.column-2 {
	width: 20%
}

.column-3 {
	width: 10%;
}

.column-4 {
	width: 32%;
}

.column-5 {
	width: 33%;
}

.phone-list, .attachment-list {
	margin: 5% 5%;
}

.attachment-list .column-3 {
	width: 15%;
}

.attachment-list td:last-child, .attachment-list th:last-child {
	text-align: center;
}

.search-parameters {
	display: inline;
	line-break: loose;
}

.search-parameter {
	list-style: none;
	padding: 2px;
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 5px;
	background-color: #E5E5E6;
	border: 1px solid #DDDDDF;
	border-radius: 5px;
}

.search-container {
	margin: 10px 0;
	float: left;
	font-size: 16px;
}

.search-info {
	display: block;
	text-align: left;
}